@import "../../index.scss";

.input-field {
    display: flex;
    flex-direction: column;

    .label {
        font-weight: 900;
        font-size: 20px;
        margin-top: 15px;
        min-width: 115px;
        .required {
            color: red;
            margin-left: 5px;
        }
    }
    .sublabel {
        font-weight: 900;
        margin: 10px 0px;
        font-size: 16px;
        color: $base-color-light-blue-one;
    }
    .input {
        height: 55px;
        border: 1px solid black;
        padding: 0px 20px;
        border-radius: 10px;
        font-size: 20px;
        color: $base-color-grey-two;
        margin-bottom: 20px;
        margin-top: 10px;
        font-family: "Product Sans", sans-serif;
    }
}
